body{
    background-color: darkgray;
    background-image: url(img/paisaje1.jpg);
    background-repeat: no-repeat;/*Con esta propiedad lo que logramos es ubicar la imagen bien sea de forma horinzontal vertical con los ejes x o y y se le 
    que no se repita aparece en la pantalla en su tamaño original*/
    background-size: 100% 100%;/* con esta propiedad le indicamos el tamaño que la queremos si le decimos 100% 100% se adapta toda la imagen a la pantalla*/
    background-attachment: fixed;/*Con esta propiedad logramos que la imagen no se mueva */
    background-position: left bottom;/*Con esto le indicamos que posicione la imagen a donde le indiquemos en este caso a la izquierda y abajo*/
    color: white;
}

#caja{
    border: 5px solid black;/*con border hacemos el borde con solid el tipo de borde y el ultimo es el color*/
    padding: 15px;
    background-color: rgb(70, 80, 153);
    color: white;
}
h2{
    color: blue;
    background: white;
    background-image: url(img/patron2.png);
    border: 5px solid black;
}