*{
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
    font-size: 20px;
}

ul li:first-child{
    color: purple;
    font-weight: bold;
  
}

ul li:nth-child(2){
    color: yellow;
    font-weight: bold;
  
}
ul li:last-child{
    color: green;
    font-weight: bolder;
}
#mi-enlace{
    font-size: 30px;
    color: hotpink;
}
#mi-enlace:link{ /*Con la pseudoclase link logramos poner del color que halla determinado cuando no se halla visitado*/
    color: red;
}
#mi-enlace:visited{ /*Con la pseudoclase visited podemos poner el enlace de otro color cuando halla sido visitadas*/
    color: blue;
}
#mi-enlace:hover{/*Con la pseudoclase hover logramos cambiar de color el texto cuando pasamos el raton por encima*/
    color:orange
}
#mi-enlace:active{/*Con la pseudoclase active nos permite cambiar de estilo el enlace cuando se hace click */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}
input[type="text"]:focus{/* Con ella hacemos cambia el formato cuando damos click en el input*/
   border: 4px dashed red;
}